<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <title>Kaiju board</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha256-IUOUHAPazai08QFs7W4MbzTlwEWFo7z/4zw8YmxEiko=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha256-xLI5SjD6DkojxrMIVBNT4ghypv12Xtj7cOa0AgKd6wA=" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
          integrity="sha256-hjq1Cjn8IDyo9hTO8UxsxwDuZL/qzUFCbc6e+MvZhQk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/solid.min.css"
          integrity="sha256-el0hjI5A3DO5oMJ7ScKl0MlpbqU+5jcYgtNIoxEWrps=" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.prod.js"
            integrity="sha256-kgmHr8X3NCK+tP7+Mlnaxylp5JoAt1tcOAfa6WvELRg=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="index.css">
</head>
<body>

<template id="board-issue">
    <div class="card board-issue">
        <div class="card-body" @click="$emit('openIssue', issueKey)">
            <h3 class="card-title issue-summary">{{summary}}</h3>
            <p class="card-text" v-if="epic">
                <span class="badge badge-primary issue-epic" :style="{backgroundColor: epic.color}"
                      :title="epic.key" @click.stop="$emit('openIssue', epic.key)">
                    {{epic.short_name}}
                </span>
            </p>
            <p class="card-text text-end">
                <img v-for="avatar in avatars" :key="avatar.name" class="avatar-small" :src="avatar.image"
                     :title="avatar.name">
                <span class="text-muted issue-key m-1 float-start small" :title="status">{{issueKey}}</span>
            </p>
            <p class="card-text small issue-development-info" v-if="branches.length || mergeRequests.length">
                <span v-if="mergeRequests.length > 1">{{mergeRequests.length}} x <i
                        class="fa-regular fa-code-pull-request"></i></span>
                <a v-else-if="mergeRequests.length === 1" :href="mergeRequests[0].url" :title="mergeRequests[0].name"
                   target="_blank" @click.stop>{{mergeRequests[0].status}}
                    <i class="fa-regular fa-code-pull-request"></i></a>
                <span v-else-if="branches.length > 1">{{branches.length}} x <i
                        class="fa-regular fa-code-branch"></i></span>
                <span v-else-if="branches.length === 1" :title="branches[0].name"><i
                        class="fa-regular fa-code-branch"></i></span>
            </p>
        </div>
    </div>
</template>

<template id="board-column">
    <div class="col">
        <h2>{{name}}
            <button v-if="!isLast" type="button" class="btn btn-link btn-sm" @click="$emit('createIssue')">create new
            </button>
        </h2>

        <board-issue v-for="issue in issues" :key="issue.key" :issue-key="issue.key" :summary="issue.summary"
                     :status="issue.status" :avatars="issue.avatars" :epic="issue.epic" :branches="issue.branches"
                     :merge-requests="issue.merge_requests"
                     @open-issue="(key) => $emit('openIssue', key)"
        ></board-issue>
    </div>
</template>

<template id="relative-date"><span>{{text}}</span></template>

<template id="issue-details">
    <div class="modal fade" ref="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="issue-detail-modal-label">Issue {{issueKey}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div v-if="!loaded" class="modal-body d-flex align-items-center p-3">
                    <strong>Loading...</strong>
                    <div class="spinner-border m-3"></div>
                </div>
                <div v-else class="modal-body">
                    <h3>{{summary}}</h3>
                    <p><a :href="jiraLink" target="_blank">View in Jira</a></p>

                    <p><strong>Status</strong>: {{status}}</p>

                    <p class="issue-description">{{description}}</p>

                    <p v-if="epic">
                        <strong>Epic</strong>:
                        <span class="badge badge-primary issue-epic" :style="{backgroundColor: epic.color}"
                              :title="epic.key" @click="open(epic.key)">
                            {{epic.short_name}}
                        </span>
                    </p>

                    <p>
                        <strong>Users</strong>: <img v-for="avatar in avatars" :key="avatar.name"
                                                     class="avatar" :src="avatar.image"
                                                     :title="avatar.name">
                    </p>

                    <div v-if="branches.length">
                        <p><strong>Branches</strong>:</p>
                        <ul>
                            <li v-for="(branch, index) in branches" :key="index">{{branch.name}}</li>
                        </ul>
                    </div>

                    <div v-if="mergeRequests.length">
                        <p><strong>Merge requests</strong>:</p>
                        <ul>
                            <li v-for="(mergeRequest, index) in mergeRequests" :key="index">
                                <a :href="mergeRequest.url" target="_blank">{{mergeRequest.status}} -
                                    {{mergeRequest.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="issue-editor">
    <div class="modal fade" ref="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit-issue-modal-label">Create new issue</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>TODO: describe syntax</p>
                    <div ref="editor" class="issue-code-editor"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary" @click="save" :disabled="saving">
                        <span v-if="saving">Saving...</span>
                        <span v-else>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="app">
    <issue-details ref="issueDetails"></issue-details>
    <issue-editor ref="issueEditor"></issue-editor>

    <div class="container-fluid p-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container-fluid">
                <span class="navbar-brand">Kaiju - {{ name }}</span>
                <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text ms-auto">
                        Last update <relative-date :date="lastUpdate"></relative-date>
                    </span>
                </div>
            </div>
        </nav>

        <div v-if="!loaded" class="d-flex align-items-center p-3">
            <strong>Loading...</strong>
            <div class="spinner-border m-3"></div>
        </div>
        <div v-else>
            <div class="row">
                <board-column v-for="(column, index) in columns" :key="column.name" :name="column.name"
                              :issues="column.issues" @open-issue="openIssue"
                              :is-last="index === columns.length - 1" @create-issue="startCreation"></board-column>
            </div>
        </div>
    </div>
</template>

<div id="main"></div>

<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.12.5/src-min-noconflict/ace.js"
        integrity="sha256-PguD1rmGe3S8YGLSOnbZ/kMdpdBk2M5RGkV47UaQ/Vs=" crossorigin="anonymous"></script>
<script src="index.js"></script>
</body>
</html>
